body {
    color: rgb(255, 196, 0);
    background: rgb(204, 6, 6);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header { p {
    font-size: 20px;
}
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
}
img {
    .categoria {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }
    
    .categoria-videos img {
        opacity: 0.5;
        height: 200px;
    }
    
    .categoria-videos img:hover {
        opacity: 1.0;
        border: 3px solid rgb(255, 217, 4);
    }
    
    .categoria h2 {
        color: rgb(228, 42, 42);
    }
}

